body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.animated-element {
  width: 50px;
  height: 500px;
  background-color: #7c5f10;
  animation: bounce 0.5s infinite alternate;
  /* 使用名為bounce的動畫，1秒循環一次，來回彈跳 */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-45px);
  }

  50% {
    transform: translateY(-50px);
  }

  75% {
    transform: translateY(-45px);
  }

  100% {
    transform: translateY(0);
  }
}
