header {
  position: relative;
  height: 70px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: azure;
  border-radius: 0 0 20px 20px;
}

header h1 {

  height: 30px;
  width: 95%;
  text-align: center;
}

.contact {
  height: 20px;
  background-color: yellowgreen;
}



body {
  background-color: red;
}


p {
  height: auto;
  width: 50%;
  background-color: antiquewhite;
  color: blue;
  text-align: center;
}

hr {
  color: rgb(80, 40, 173);
}

.aronud {
  height: 100%;
  width: 100%;
  color: aqua;
}

.container {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.head img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.button-container {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.button-container button {
  height: 35px;
  width: 60px;
  border-radius: 20px 20px 0px 0px;
  padding: 10px 20px;
  font-size: 10px;
  box-shadow: inset 0px 0px 10px red;
  position: absolute;
  text-align: center;
}

.button-container .about {
  transform: rotate(0deg);
  top: 90px;
}

.button-container button:nth-child(2) {
  transform: rotate(60deg);
  top: 125px;
  left: 229px;
}

.button-container button:nth-child(3) {
  transform: rotate(120deg);
  top: 191px;
  left: 229px;
}

.button-container button:nth-child(4) {
  transform: rotate(180deg);
  bottom: 140px;
}

.button-container button:nth-child(5) {
  transform: rotate(240deg);
  bottom: 174px;
  left: 111px;
}

.button-container button:nth-child(6) {
  transform: rotate(300deg);
  top: 123px;
  left: 111px;
}