*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

#text{
    position: absolute;
    left: -1000px;
    resize: none;
}

.terminal {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
}

.promp{
    color: rgb(0, 167, 0);
}

.input{
    display: flex;
    flex-direction: row;
    gap: 5px;
}





