*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

#text{
    position: absolute;
    left: -1000px;
    bottom: -1000px;
    resize: none;
}

.terminal {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
}

.container{
    display: flex;
    flex-direction: column;
}

.prompt_hit{
    margin-right: 5px;
    color: rgb(0, 167, 0);
}

.prompt_input{
    color: red;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cursor{
    height: 17px;
    width: 2px;
    background-color: white;
    animation: blink 1s infinite;
}

@keyframes blink {
    40%, 60% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }





